<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine|Oregano">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="upload.js" type="text/javascript"></script>
  </head>

  <body>
    <div id="background">
      <img src="background.jpg" class="stretch"/>
    </div>
    <h1 class="title">Ashley &amp; Andrew</h1>
    <p>Please feel free to leave comments ^_^  And please, send us an email if something doesn't work!</p>
    <div class="p">Have something you'd like to share?  Upload it and I'll post it ASAP:<br/>
      <form enctype="multipart/form-data">
        <input name="files[]" type="file" multiple/>
        <input type="button" value="Upload!" disabled="disabled">
      </form>
      <progress style="display:none;"></progress>
      <div id="status">
      </div>
    </div>
    <div class='content'><%=content%></div>
    <div class="co-notice">
      <a class="left" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png"/></a>All work in the albums "Maui!" and "Maui Underwater" are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a>.<br/>
      © Andrew Sabisch 2013&ndash;2015
    </div>
  </body>
</html>
